* {
  font-family: 'Markazi Text';
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  * {
      font-size: 10px;
  }
}

@media screen and (max-width: 1469px) {
  body .highlights-cards {
    flex-wrap: wrap;
  }
  body .testimonials-cards {
    flex-wrap: wrap;
  }
  body .hero-container {
    padding: 25px 10%;
  }
  body .highlights-container {
    padding: 25px 10%;
  }
}

@media screen and (max-width: 1103px) {
  body .hero-container {
    padding: 10px 5%;
  }
  body .highlights-container {
    padding: 10px 5%;
  }
}

@media screen and (max-width: 980px) {
  body .hero-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1408px) {
  body .header {
    justify-content: space-between;
  }
  body .menu {
    display: none;
  }
  body .hamburger-menu {
    display: block;
  }

}

h1 {
  margin:0;
  font-size: 5rem;
  font-weight:600;
  color: #F4CE14
}

h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  margin: 0;
  font-size: 2rem;
  font-weight:lighter;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

.button {
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer
}

.error {
  color:#EE9972
}

/*----------HEADER-----------*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10%;
}

.menu {
  display: block;
}

.nav-item {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: .3s;
}

.nav-item:hover {
  cursor: pointer;
  color: #EE9972;
}

.logo {
  padding: 0 5%;
  height:4rem;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu img {
  cursor: pointer;
}

/*----------HERO-----------*/

.hero {
  background-color: #495E57;
}

.hero-container {
  display: flex;
  padding: 50px 20%;
}

.description {
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  color:white;
}

.description .button {
  margin: 2% 0;
  width:100%;
  background-color: #F4CE14;
  color:black;
  margin-top: auto;
}

.restaurant {
  flex:1;
  text-align: center;
  padding: 0 5%;
}

#restaurant {
  max-height: 400px;
  min-width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

/*----------HIGHLIGHTS-----------*/

.highlights-container {
  display: flex;
  flex-direction: column;
  padding: 50px 20%;
}

.highlights-title {
  display: flex;
  justify-content: space-between;
}

.highlights-title .button {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 20px;
  margin: 0 0 0 20px;
  color:white;
  justify-content: center;
}

.highlights-cards {
  display: flex;
  justify-content: space-around;
  gap:2%;
  padding:5% 0;
}

.highlights-cards .card {
  border-radius: 20px 20px 0 0;
  background-color: #EDEFEE;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.highlights-cards .card-header img {
  border-radius: 20px 20px 0 0;
  height:200px;
  width:100%;
  object-fit: cover;
}

.highlights-cards .card-title {
  display:flex;
  justify-content: space-between;
  padding: 0 5%;
}

.highlights-cards .card-price {
  color: #EE9972
}

.highlights-cards .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1% 5%;
}

.highlights-cards .card-body p {
  color: #495E57
}

.highlights-cards .card-body .nav-item {
  padding: 0;
  margin-top:auto;
}

/*----------TESTIMONIALS-----------*/

.testimonials {
  background-color: #495E57;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  padding: 50px 10%;
}

.testimonials-cards {
  display: flex;
  justify-content: space-around;
  gap:2%;
  padding:5% 0;
}

.testimonials-title {
  color:#EDEFEE;
  text-align: center;
}

.testimonials-cards .card-header img {
  border-radius: 20px 0 0 20px;
  height:100%;
  width:150px;
  object-fit: cover;
}

.testimonials-cards .card {
  border-radius: 20px 0 0 20px;
  background-color: #EDEFEE;
  width: 600px;
  display: flex;
}

.testimonials-cards .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1% 5%;
}

.testimonials-cards .card-body h4 {
  padding: 0;
  margin-top:auto;
}

/*----------RESERVATIONS-----------*/

.reservations {
  background-color: #495E57;
}

.reservations-container {
  padding: 50px 30%;
}

.reservations-form {
  display: flex;
  flex-direction: column;
  color:white;
}

.reservations-container h2 {
  color:#F4CE14
}

.reservations-form input {
  font-size: 2rem;
  margin: 0 0 3% 0;
}

.reservations-form select {
  font-size: 2rem;
  margin: 0 0 3% 0;
}

.reservations-form option {
  font-size: 1.5rem
}

.reservations-form .button {
  border: none;
  outline: none;
  margin: 3% 0;
  background-color: #F4CE14;
  color:black;
}

/*----------ABOUT-----------*/

.about {
  height: 500px;
  background-color: white;
}

/*----------FOOTER-----------*/

.footer-container {
  display: flex;
  justify-content: space-between;
  gap:5%;
  padding: 50px 10%;
}

.footer-container .links {
  display: flex;
  flex-direction: column;
}

.footer-container .links .icons {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.footer-container .logo {
    height:6rem;
}